In [2]:
%load_ext jupyternotify

# import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time
# import timeit
import main


from tqdm.auto import tqdm
# from scipy.stats import *

pd.set_option('display.max_columns', None)

In [3]:
# pd.set_option('display.max_colwidth', None)

In [4]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:70% !important; }</style>"))

In [4]:
# from google.colab import drive
# drive.mount('/content/drive')

In [5]:
raw_all_df = pd.read_csv('data/PitchData_15-22.csv', index_col=[0])

/var/folders/x_/1k47n6n512j4cw0810rgvky40000gn/T/ipykernel_51090/1943998277.py:1: DtypeWarning: Columns (44) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_all_df = pd.read_csv('data/PitchData_15-22.csv', index_col=[0])

In [6]:
reg_all_df = raw_all_df[raw_all_df['game_type']=='R'].copy()
reg_all_df.reset_index(inplace=True, drop=True)

# create seperate pitch index for later merging opt
reg_all_df.reset_index(inplace=True)
reg_all_df.rename(columns={'index':'pitch_index'}, inplace=True)

reg_all_df['n_count'] = 1

# Visual inspection

In [7]:
# import utils

# reg_all_df = utils.get_vid_link(reg_all_df)

# remove bad PAs
PA that changed pitcher or batter or doesn't contain events

In [8]:
pa_df = reg_all_df.groupby(['game_year', 'game_pk', 'at_bat_number', 'pitcher', 'batter']).agg({
    'events':'first',
    'des':'first',
    'pitch_index':'first'
}).reset_index()
pa_df.head()

,game_year,game_pk,at_bat_number,pitcher,batter,events,des,pitch_index
0,2015,413649,1,433587,594777,strikeout,Kole Calhoun called out on strikes.,5274688
1,2015,413649,2,433587,545361,home_run,Mike Trout homers (1) on a fly ball to center ...,5274680
2,2015,413649,3,433587,405395,strikeout,Albert Pujols strikes out on a foul tip.,5274673
3,2015,413649,4,433587,459964,strikeout,Matt Joyce strikes out swinging.,5274670
4,2015,413649,5,450308,457706,field_out,"Austin Jackson grounds out, shortstop Erick Ay...",5274668

In [9]:
# create df of duplicated pa
pa_dup = pa_df[pa_df.duplicated(subset=['game_pk', 'at_bat_number'], keep='first')]
pa_dup_list = [(x, y) for x, y in zip(pa_dup['game_pk'], pa_dup['at_bat_number'])]

In [10]:
drop_idx = []

for pa in pa_dup_list:
    drop_idx += reg_all_df[(reg_all_df['game_pk']==pa[0])&(reg_all_df['at_bat_number']==pa[1])].index.to_list()

In [11]:
reg_all_df.shape

(5275005, 94)

In [12]:
# drop duplicated PA
reg_all_df.drop(index=drop_idx, inplace=True)

In [13]:
reg_all_df.shape

(5272280, 94)

In [14]:
# re-create pa_df
pa_df = reg_all_df.groupby(['game_year', 'game_pk', 'at_bat_number', 'pitcher', 'batter']).agg({
    'events':'first',
    'des':'first',
    'pitch_index':'first'
}).reset_index()
pa_df.head()

,game_year,game_pk,at_bat_number,pitcher,batter,events,des,pitch_index
0,2015,413649,1,433587,594777,strikeout,Kole Calhoun called out on strikes.,5274688
1,2015,413649,2,433587,545361,home_run,Mike Trout homers (1) on a fly ball to center ...,5274680
2,2015,413649,3,433587,405395,strikeout,Albert Pujols strikes out on a foul tip.,5274673
3,2015,413649,4,433587,459964,strikeout,Matt Joyce strikes out swinging.,5274670
4,2015,413649,5,450308,457706,field_out,"Austin Jackson grounds out, shortstop Erick Ay...",5274668

In [15]:
missing_event_df = pa_df[pa_df['events'].isna()].copy()

In [16]:
missing_event_df[missing_event_df['des'].isna()]

,game_year,game_pk,at_bat_number,pitcher,batter,events,des,pitch_index
8453,2015,413759,62,466948,572816,None,None,5243123
14444,2015,413840,22,282332,434658,None,None,5220248
16995,2015,413873,51,112526,592743,None,None,5210438
33041,2015,414086,46,572750,648717,None,None,5151816

In [17]:
# drop pa if des is None
missing_event_df.drop(index=missing_event_df[missing_event_df['des'].isna()].index, inplace=True)

In [18]:
for i, r in missing_event_df.iterrows():
    missing_event_df.loc[i, 'events_imputed'] = 'BB' if 'intentionally walks' in r['des'] else 'other'

In [19]:
missing_event_df.head()

,game_year,game_pk,at_bat_number,pitcher,batter,events,des,pitch_index,events_imputed
1856,2015,413674,68,449097,452672,None,Ryan Hanigan reaches on catcher interference b...,5267816,other
5082,2015,413716,16,477132,572041,None,"With A. J. Pollock batting, Archie Bradley pi...",5255843,other
6236,2015,413731,4,518567,435062,None,"With Howie Kendrick batting, Jimmy Rollins pic...",5251510,other
6504,2015,413734,38,594987,516416,None,Carlos Gomez picked off and caught stealing 3r...,5250549,other
8798,2015,413764,42,518774,429667,None,Ryan Howard reaches on catcher interference by...,5241841,other

In [20]:
missing_event_df.shape

(1727, 9)

In [21]:
reg_all_df = reg_all_df.merge(
    missing_event_df[['pitch_index', 'events_imputed']], on=['pitch_index'], how='left', suffixes=('', '_y')
)

In [22]:
# drop pitches if des is None
reg_all_df.drop(index=reg_all_df[reg_all_df['des'].isna()].index, inplace=True)

In [23]:
reg_all_df.loc[reg_all_df['events'].isna(), 'events'] = reg_all_df['events_imputed']
reg_all_df.reset_index(drop=True, inplace=True)

In [24]:
reg_all_df.shape

(5272267, 95)

# Remove ball 4 and strike 3 rows

In [25]:
reg_all_df['balls'].value_counts()

0    2377217
1    1570376
2     891515
3     433139
4         20
Name: balls, dtype: int64

In [26]:
reg_all_df['strikes'].value_counts()

0    2122301
1    1608040
2    1541925
3          1
Name: strikes, dtype: int64

In [27]:
b4s3_df = reg_all_df[(reg_all_df['balls']==4)|(reg_all_df['strikes']==3)][['balls', 'strikes', 'game_pk', 'at_bat_number']].drop_duplicates(subset=['game_pk', 'at_bat_number'], keep='first').copy()
b4s3_df

         balls  strikes  game_pk  at_bat_number
26157        4        2   661097             58
250201       1        3   662725             21
650016       4        2   662390             63
1085773      4        2   633530             44
1438229      4        2   630892             74
2217116      4        1   566783             67
2671331      4        2   530969             66
2997499      4        2   529872             28
3357945      4        2   491781             45
4738467      4        2   415513              4
5089645      4        1   414292             41
5214816      4        2   413849             40

In [28]:
# remove pa with ball 4 and strike 3

drop_idx = []
for i, r in b4s3_df.iterrows():
    drop_idx += reg_all_df[(reg_all_df['game_pk']==r[2])&(reg_all_df['at_bat_number']==r[3])].index.to_list()

In [29]:
reg_all_df[(reg_all_df['game_pk']==r[2])&(reg_all_df['at_bat_number']==r[3])].index

Int64Index([5214816, 5214817, 5214818, 5214819, 5214820, 5214821, 5214822], dtype='int64')

In [30]:
reg_clean_df = reg_all_df.drop(index=drop_idx)

In [31]:
reg_clean_df[(reg_clean_df['game_pk']==r[2])&(reg_clean_df['at_bat_number']==r[3])].index

Int64Index([], dtype='int64')

In [32]:
#pitches dropped
reg_all_df.shape[0] - reg_clean_df.shape[0]

92

# Create event_type

In [33]:
B1_list = 'single'
B2_list = 'double'
B3_list = 'triple'
HR_list = 'home_run'
FO_list = ['field_out', 'grounded_into_double_play', 'sac_bunt', 'force_out', 'field_error', 
            'sac_fly', 'double_play', 'fielders_choice', 'fielders_choice_out', 'sac_fly_double_play',
           'sac_bunt_double_play', 'triple_play']
K_list = ['strikeout', 'strikeout_double_play']
BB_list = ['walk','hit_by_pitch', 'intent_walk', 'BB']
other_list = ['caught_stealing_2b', 'caught_stealing_home','other_out', 'pickoff_3b', 'catcher_interf', 
              'caught_stealing_3b', 'wild_pitch', 'passed_ball', 'stolen_base_2b', 'pickoff_2b', 
              'pickoff_1b', 'pickoff_caught_stealing_2b', 'game_advisory', 'pickoff_caught_stealing_3b',
              'pickoff_caught_stealing_home', 'runner_double_play', 'other', 'stolen_base_home',
             'pickoff_error_2b', 'ejection', 'pickoff_error_2b', 'stolen_base_3b']

In [34]:
# check if any events are not counted
e_list = reg_clean_df['events'].unique()
[e for e in e_list if e not in FO_list + K_list + BB_list + other_list + [B1_list] + [B2_list] + [B3_list] + [HR_list]]

[nan]

In [35]:
reg_clean_df.loc[reg_clean_df['events']=='single', 'event_type'] = '1B'
reg_clean_df.loc[reg_clean_df['events']=='double', 'event_type'] = '2B'
reg_clean_df.loc[reg_clean_df['events']=='triple', 'event_type'] = '3B'
reg_clean_df.loc[reg_clean_df['events']=='home_run', 'event_type'] = 'HR'
reg_clean_df.loc[reg_clean_df['events'].isin(FO_list), 'event_type'] = 'FO'
reg_clean_df.loc[reg_clean_df['events'].isin(K_list), 'event_type'] = 'K'
reg_clean_df.loc[reg_clean_df['events'].isin(BB_list), 'event_type'] = 'BB'
reg_clean_df.loc[reg_clean_df['events'].isin(other_list), 'event_type'] = 'other'

In [36]:
# reg_clean_df.to_csv('data/PitchDataCleaned_15-22.csv')

In [38]:
reg_clean_df

,pitch_index,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,spin_dir,spin_rate_deprecated,break_angle_deprecated,break_length_deprecated,zone,des,game_type,stand,p_throws,home_team,away_team,type,hit_location,bb_type,balls,strikes,game_year,pfx_x,pfx_z,plate_x,plate_z,on_3b,on_2b,on_1b,outs_when_up,inning,inning_topbot,hc_x,hc_y,tfs_deprecated,tfs_zulu_deprecated,fielder_2,umpire,sv_id,vx0,vy0,vz0,ax,ay,az,sz_top,sz_bot,hit_distance_sc,launch_speed,launch_angle,effective_speed,release_spin_rate,release_extension,game_pk,pitcher.1,fielder_2.1,fielder_3,fielder_4,fielder_5,fielder_6,fielder_7,fielder_8,fielder_9,release_pos_y,estimated_ba_using_speedangle,estimated_woba_using_speedangle,woba_value,woba_denom,babip_value,iso_value,launch_speed_angle,at_bat_number,pitch_number,pitch_name,home_score,away_score,bat_score,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp,n_count,events_imputed,event_type
0,0,CH,2022-10-05,80.8,-0.76,6.61,"Baker, Bryan",624415,641329,field_out,hit_into_play,NaN,NaN,NaN,NaN,4.0,Cavan Biggio flies out to shortstop Jorge Mateo.,R,L,R,BAL,TOR,X,6.0,fly_ball,0,0,2022,-1.34,0.80,-0.32,2.24,NaN,NaN,NaN,2,9,Top,132.96,110.11,NaN,NaN,668939.0,NaN,NaN,3.558407,-117.646983,-4.681001,-13.171122,21.657751,-24.034138,3.37,1.58,225.0,75.9,50.0,81.5,1771.0,6.7,663451,641329,668939.0,663624.0,679631.0,683002.0,622761.0,663630.0,656775.0,669720.0,53.85,0.089,0.088,0.0,1.0,0.0,0.0,3.0,78,1,Changeup,5,4,4,5,4,5,4,5,Infield shift,Standard,213.0,0.035,-0.099,1,NaN,FO
1,1,FF,2022-10-05,97.7,-0.58,6.60,"Baker, Bryan",643376,641329,strikeout,swinging_strike,NaN,NaN,NaN,NaN,5.0,Danny Jansen strikes out swinging.,R,R,R,BAL,TOR,S,2.0,NaN,2,2,2022,-0.17,1.58,0.10,2.59,NaN,NaN,NaN,1,9,Top,NaN,NaN,NaN,NaN,668939.0,NaN,NaN,2.238826,-142.091777,-8.968560,-2.851911,33.061824,-8.887788,3.21,1.51,NaN,NaN,NaN,98.1,2434.0,6.6,663451,641329,668939.0,663624.0,679631.0,683002.0,622761.0,663630.0,656775.0,669720.0,53.90,NaN,NaN,0.0,1.0,0.0,0.0,NaN,77,5,4-Seam Fastball,5,4,4,5,4,5,4,5,Standard,Standard,189.0,0.052,-0.134,1,NaN,K
2,2,CH,2022-10-05,84.9,-0.55,6.58,"Baker, Bryan",643376,641329,NaN,ball,NaN,NaN,NaN,NaN,12.0,Danny Jansen strikes out swinging.,R,R,R,BAL,TOR,B,NaN,NaN,1,2,2022,-1.22,0.83,1.35,2.31,NaN,NaN,NaN,1,9,Top,NaN,NaN,NaN,NaN,668939.0,NaN,NaN,6.936655,-123.422405,-5.325648,-13.889678,25.079523,-22.776142,3.13,1.38,NaN,NaN,NaN,85.2,1856.0,6.6,663451,641329,668939.0,663624.0,679631.0,683002.0,622761.0,663630.0,656775.0,669720.0,53.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77,4,Changeup,5,4,4,5,4,5,4,5,Standard,Standard,212.0,0.000,0.023,1,NaN,NaN
3,3,FF,2022-10-05,97.2,-0.42,6.60,"Baker, Bryan",643376,641329,NaN,swinging_strike,NaN,NaN,NaN,NaN,4.0,Danny Jansen strikes out swinging.,R,R,R,BAL,TOR,S,NaN,NaN,1,1,2022,-0.13,1.74,-0.55,2.30,NaN,NaN,NaN,1,9,Top,NaN,NaN,NaN,NaN,668939.0,NaN,NaN,-0.055174,-141.325311,-10.022382,-1.712935,33.111733,-6.725581,3.21,1.51,NaN,NaN,NaN,97.5,2258.0,6.6,663451,641329,668939.0,663624.0,679631.0,683002.0,622761.0,663630.0,656775.0,669720.0,53.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77,3,4-Seam Fastball,5,4,4,5,4,5,4,5,Standard,Standard,192.0,0.000,-0.036,1,NaN,NaN
4,4,FC,2022-10-05,86.2,-0.55,6.64,"Baker, Bryan",643376,641329,NaN,called_strike,NaN,NaN,NaN,NaN,3.0,Danny Jansen strikes out swinging.,R,R,R,BAL,TOR,S,NaN,NaN,1,0,2022,0.63,0.00,0.36,3.00,NaN,NaN,NaN,1,9,Top,NaN,NaN,NaN,NaN,668939.0,NaN,NaN,0.906464,-125.636009,-2.473559,6.513804,24.352439,-31.861988,3.13,1.51,NaN,NaN,NaN,86.7,2348.0,6.4,663451,641329,668939.0,663624.0,679631.0,683002.0,622761.0,663630.0,656775.0,669720.0,54.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77,2,Cutter,5,4,4,5,4,5,4,5,Standard,Standard,127.0,0.000,-0.031,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5272262,5275000,CU,2015-04-05,75.9,2.18,5.56,"Lester, Jon",572761,452657,NaN,ball,NaN,NaN,NaN,NaN,13.0,"Matt Carpenter grounds out, second baseman Tom...",R,L,L,CHC,STL,B,NaN,NaN,1,2,2015,-1.30,-0.04,-1.82,2.08,NaN,NaN,NaN,0,1,Top,NaN,NaN,NaN,NaN,424325.0,NaN,150405_192133,-6.310000,-110.410000,0.330000,-10.280000,21.770000,-34.110000,3.56,1.72,NaN,NaN,NaN,NaN,NaN,NaN,413661,452657,424325.0,519203.0,600303.0,592609.0,516770.0,458085.0,451594.0,624585.0,50.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,5,Curveball,0,0,0,0,0,0,0,0,NaN,NaN,NaN,0.000,0.036,1,NaN,NaN
5272263,5275001,FF,2015-04-05,91.6,2.28,5.21,"Lester, Jon",572761,452657,NaN,ball,NaN,NaN,NaN,NaN,13.0,"Matt Carpenter grounds out, second baseman Tom...",R,L,L,CHC,STL,B,NaN,NaN,0,2,2015,0.03,1.12,-0.64,1.22,NaN,NaN,NaN,0,1,Top,NaN,NaN,NaN,NaN,424325.0,NaN,150405_192113,-8.070000,-133.000000,-6.570000,2.100000,28.350000,-20.540000,3.35,1.74,NaN,NaN,NaN,NaN,NaN,NaN,413661,452657,424325.0,519203.0,600303.0,592609.0,516770.0,458085.0,451594.0,624585.0,50.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,4,4-Seam Fastball,0,0,0,0,0,0,0,0,NaN,NaN,NaN,0.000,0.018,1,NaN,NaN
5272264,5275002,FF,2015-04-05,94.8,2.13,5.31,"Lester, Jon",572761,452657,NaN,foul,NaN,NaN,NaN,NaN,1.0,"Matt Carpenter grounds out, second baseman Tom...",R,L,L,CHC,STL,S,NaN,NaN,0,2,2015,0.93,1.76,-0.52,3.28,NaN,NaN,NaN,0,1,Top,NaN,NaN,NaN,NaN,424325.0,NaN,150405_192047,-9.800000,-137.670000,-3.340000,14.370000,35.280000,-11.560000,3.56,1.72,NaN,NaN,NaN,NaN,NaN,NaN,413661,452657,424325.0,519203.0,600303.0,592609.0,516770.0,458085.0,451594.0,624585.0,50.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3,4-Seam Fastball,0,0,0,0,0,0,0,0,NaN,NaN,NaN,0.000,0.000,1,NaN,NaN
5272265,5275003,FF,2015-04-05,93.4,2.12,5.31,"Lester, Jon",572761,452657,NaN,swinging_strike,NaN,NaN,NaN,NaN,5.0,"Matt Carpenter grounds out, second baseman Tom...",R,L,L,CHC,STL,S,NaN,NaN,0,1,2015,0.78,1.92,-0.19,2.35,NaN,NaN,NaN,0,1,Top,NaN,NaN,NaN,NaN,424325.0,NaN,150405_192025,-8.410000,-135.690000,-5.980000,12.040000,34.230000,-10.090000,3.56,1.72,NaN,NaN,NaN,NaN,NaN,NaN,413661,452657,424325.0,519203.0,600303.0,592609.0,516770.0,458085.0,451594.0,624585.0,50.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,4-Seam Fastball,0,0,0,0,0,0,0,0,NaN,NaN,NaN,0.000,-0.046,1,NaN,NaN
5272266,5275004,FF,2015-04-05,93.6,2.28,5.30,"Lester, Jon",572761,452657,NaN,called_strike,NaN,NaN,NaN,NaN,6.0,"Matt Carpenter grounds out, second baseman Tom...",R,L,L,CHC,STL,S,NaN,NaN,0,0,2015,0.45,1.77,0.42,2.96,NaN,NaN,NaN,0,1,Top,NaN,NaN,NaN,NaN,424325.0,NaN,150405_191954,-6.410000,-136.060000,-4.000000,7.670000,34.690000,-11.960000,3.56,1.72,NaN,NaN,NaN,NaN,NaN,NaN,413661,452657,424325.0,519203.0,600303.0,592609.0,516770.0,458085.0,451594.0,624585.0,50.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,4-Seam Fastball,0,0,0,0,0,0,0,0,NaN,NaN,NaN,0.000,-0.032,1,NaN,NaN

In [39]:
col_keep = [
    'pitch_index', 'game_year', 'game_pk', 'at_bat_number', 
    'home_team', 'away_team', 'pitch_type', 'game_date', 
    'player_name', 'batter', 'pitcher', 'stand', 'p_throws', 'event_type', 'des', 
    'balls', 'strikes', 'n_count'
]

In [40]:
reg_clean_lean_df = reg_clean_df[col_keep].copy()

In [41]:
# reg_clean_lean_df.to_csv('data/PitchDataCleanedLean_15-22.csv')

# Group PA

In [5]:
df = pd.read_csv('data/PitchDataCleanedLean_15-22.csv', index_col=[0])

In [6]:
df.head()

,pitch_index,game_year,game_pk,at_bat_number,home_team,away_team,pitch_type,game_date,player_name,batter,pitcher,stand,p_throws,event_type,des,balls,strikes,n_count
0,0,2022,663451,78,BAL,TOR,CH,2022-10-05,"Baker, Bryan",624415,641329,L,R,FO,Cavan Biggio flies out to shortstop Jorge Mateo.,0,0,1
1,1,2022,663451,77,BAL,TOR,FF,2022-10-05,"Baker, Bryan",643376,641329,R,R,K,Danny Jansen strikes out swinging.,2,2,1
2,2,2022,663451,77,BAL,TOR,CH,2022-10-05,"Baker, Bryan",643376,641329,R,R,NaN,Danny Jansen strikes out swinging.,1,2,1
3,3,2022,663451,77,BAL,TOR,FF,2022-10-05,"Baker, Bryan",643376,641329,R,R,NaN,Danny Jansen strikes out swinging.,1,1,1
4,4,2022,663451,77,BAL,TOR,FC,2022-10-05,"Baker, Bryan",643376,641329,R,R,NaN,Danny Jansen strikes out swinging.,1,0,1

In [8]:
pa_df = df.groupby(['game_year', 'game_pk', 'at_bat_number', 'pitcher', 'batter']).agg({
    'home_team':'first',
    'stand':'first',
    'p_throws':'first',
    'event_type':'first',
    'des':'first'
}).reset_index()

In [13]:
event_df = pd.get_dummies(pa_df['event_type'])

event_df = event_df[main.EVENT_LIST].copy()

pa_df = pd.concat([pa_df, event_df], axis=1)

In [19]:
pa_df.to_csv('data/PA_data_15-19.csv')